# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# dotenv file (if not meant to be public)
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
